<nav class="navbar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="nav-brand pull-left">
          <i class="fa fa-cubes"></i>AS
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="title-section">
  <div class="hero">
    <div class="hero-title">
      <div>
        <span class="animated fadeInUp">Maitre</span>
      </div>
      <div>
        <span class="animated fadeInUp" style="animation-delay: 0.1s;">Adrien</span>
        <span class="animated fadeInUp" style="animation-delay: 0.15s;">Sourzac</span>
      </div>
      <div>
        <span class="animated fadeInUp" style="animation-delay: 0.25s;">Bordeaux</span>
      </div>
    </div>
  </div>
</div>
<div class="services-section">
  <div class="services-title">
    <h1 class="line double-line animated fadeInUp"><span>How Can We Help?</span></h1>
  </div>
  <div class="services-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4 section-help animated fadeInUp">
          <div class="section-image">
            <img src="https://unsplash.it/700/400?image=1033" />
          </div>
          <div class="section-content">
            <p class="image-tagline">100% Satisfaction</p>
            <hr />
            <p class="section-description">
              Retro street art photo booth kinfolk godard, locavore 8-bit normcore gastropub. Kale chips chambray messenger bag, man bun brunch farm-to-table scenester occupy pork belly meh flannel seitan craft beer. Forage gastropub migas, mumblecore selfies meditation
              tilde green juice.
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4 section-help animated fadeInUp">
          <div class="section-image">
            <img src="https://unsplash.it/700/400?image=961" />
          </div>
          <div class="section-content">
            <p class="image-tagline">Awesome Web Dev</p>
            <hr />
            <p class="section-description">
              IPhone pop-up lo-fi, actually fashion axe butcher keffiyeh taxidermy bicycle rights master cleanse tattooed. Truffaut mustache pabst heirloom, retro slow-carb meditation stumptown meggings tilde kickstarter. +1 four dollar toast gastropub ugh small batch,
              kinfolk gluten-free letterpress cred.
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-0 section-help animated fadeInUp">
          <div class="section-image">
            <img src="https://unsplash.it/700/400?image=816" />
          </div>
          <div class="section-content">
            <p class="image-tagline">Beautiful Interfaces</p>
            <hr />
            <p class="section-description">
              Organic microdosing cold-pressed pinterest gochujang. Salvia seitan pitchfork, kale chips plaid narwhal kickstarter direct trade single-origin coffee shoreditch austin craft beer polaroid kogi. Master cleanse photo booth irony gochujang, paleo viral cardigan
              etsy deep v bushwick bicycle rights.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="testimonial-section">
  <div class="slider-container">
    <ul>
      <li>
        <div class="testimonial-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <p class="testimonial">MMFSH has exceeded all our expectations. We now facilitate 1M users a minute!</p>
                <hr />
                <p class="author">Charley BEIGBEDER</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="testimonial-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <p class="testimonial">The support from MMFSH over the phone is awesome. Thanks #TeamMMFSH !!</p>
                <hr />
                <p class="author">Joe Bloggs</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="testimonial-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <p class="testimonial">MMFSH is an affordable, professional and approachable web agency. I would highly recommend!</p>
                <hr />
                <p class="author">Esslam Ben Ramadan</p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="column-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 column">
        <h3>Agile Approach</h3>
        <p>Boudin drumstick swine pork loin frankfurter shankle. Drumstick short ribs corned beef bacon sausage tenderloin. Boudin pork belly ball tip spare ribs hamburger, cupim flank doner ham beef meatloaf capicola. Meatball cupim chuck, corned beef tenderloin
          biltong spare ribs strip steak tongue ham turkey rump brisket kevin landjaeger. Beef ribs fatback short loin ribeye tenderloin. Prosciutto tail swine ham shankle corned beef meatball. Pig prosciutto pork belly tri-tip.</p>
        <button class="input-rounded primary">Find Out More</button>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5 column">
        <h3>Extensive Testing</h3>
        <p>Kevin biltong drumstick bacon capicola hamburger beef ribs pork belly filet mignon turducken frankfurter beef. Salami ham hock pork belly, drumstick meatloaf shankle tri-tip flank prosciutto rump pastrami porchetta pancetta corned beef beef ribs.
          Hamburger fatback ground round bresaola. Tail capicola pork loin strip steak prosciutto, boudin tri-tip flank bresaola ribeye beef ribs ball tip fatback biltong rump. Pancetta short loin brisket pork belly.</p>
        <button class="input-rounded primary">Find Out More</button>
      </div>
    </div>
  </div>
</div>
<div class="side-by-side-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 content">
        <h3>Test title here</h3>
      </div>
      <div class="hidden-xs col-sm-6 image" style="background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/281684/mmfsh1.jpg)">
      </div>
    </div>
    <div class="row">
      <div class="hidden-xs col-sm-6 image" style="background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/281684/mmfsh2.jpg)">
      </div>
      <div class="col-xs-12 col-sm-6 content inverse">
        <hr />
        <p>Twelve years of providing web design, development and marketing to clients across the UK and abroad.</p>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 content">
        <h3>WOB WOB WOB</h3>
      </div>
      <div class="hidden-xs col-sm-6 image" style="background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/281684/mmfsh3.jpg)">
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <i class="far fa-envelope"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-linkedin"></i>
      </div>
    </div>
  </div>
</footer>
